@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Poppins:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap');

:root{
    --color-principal: #b60d0d;
    --color-secundaria:#ebe1e1;
    --width-central: 100%;
    --heigth-central:100%;
    --font-principal:"Poppins";
    --font-secundaria:"Hanuman";
    --box-shadow: 0.1rem 0.1rem 1px #000;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* ==============Resposive============ */
@media only screen and (max-width: 414px)  {
    .container{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    /*========== Banner=========== */
    .banner{
        display: flex;
        flex-wrap: wrap;
    }
    .banner h1{
        font-size: 40px;
        margin-top: 75%;
        margin-right: 15%;
        
    }

    .banner h2{
        font-size: 25px;
        margin-right: 15%;
    }
    
    .banner button{
        width: 150px;
    }
}

.reveal{
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}




/* BackGround */

header{
    width:var(--width-central);
    height: var(--heigth-central);
}
.Section-1-bg{
    background-image: url("../assets/img/BackGround.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%; 
}



/* DashBoard */
.hamburguer{
    width: 32px;
    height: 32px;
    position: fixed;
    z-index: 100;
    right: 32px;
    top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.show-menu .hamburguer{
    right: 16rem;
}
.hamburguer span{
    position: absolute;
    left: 3rem;
    color: var(--color-principal);
    background-color: var(--color-secundaria);
    font-family: var(--font-principal);
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid var(--color-secundaria);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;

}
.show-menu .hamburguer:hover span{
    opacity: 1;
}

.line{
    width:var(--width-central);
    background-color: var(--color-secundaria);
    height: 50px;
    margin-top: 10px;
    box-shadow:var(--box-shadow);
    transition: transform 1s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .4rem);
}
.show-menu #line3{
    transform: rotate(-44deg) translate(.4rem, -.7rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.sidebar{
    position: fixed;
    z-index: 99;
    width: 20rem;
    height: 100vh;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(209,32,27,1) 15%, rgb(141, 26, 22) 45% );
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}
.menu-item:hover{
    background-color: var(--color-secundaria);
    border: solid 5px var(--color-secundaria);
    border-radius: 10px;
    background-color: transparent;

}
.menu-link{
    font-family:"Baloo Da 2", serif ;
    font-size: 2rem;
    color: white;
}
.social-media{
    position: absolute;
    bottom: 2rem;
    width: var(--width-central);
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: rgba(255, 0, 0, .5);
    color: seashell;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:background-color 1s;
}
.social-media i:is(:hover,:focus){
    background-color: silver;
}



/* Banner */

.banner{
    position: absolute;
    left: 15%;
    top: 30%;
    
}
.banner h1{
    font-size: 70px;
    color: var(--color-secundaria);
    margin-top: 15px;
    font-family:var(--font-principal);
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
}

.banner span{
    color: var(--color-principal);
}
.banner h2{
    color: var(--color-secundaria);
    font-size: 50px;
    font-family:var(--font-secundaria);

}
.banner button{
    width: 30%;
    margin-top: 40px;
    padding: 8px 5px;
    font-size: 20px;
    background-color: #FE002D;
    border-radius: 50px;
    color: var(--color-secundaria);
    font-family:"Inter" ;
    cursor: pointer;
    transition-duration: .9s;     
}
    
.banner button:is(:hover,:focus){
    border: solid 1px #fff;
    transition: 0.7s;
    background: transparent;
        
}


    /*===========Sobre============ */
.C-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: var(--width-central);
    flex-wrap: wrap;
}

.image img{
    width: 400px;
    height: auto;
    box-shadow: 4px 4px 4px #858585;
    border-radius: 10px;
}
.Sobre-mim h1{
   text-align: center;
   font-size: 55px;
   font-family: "Inter";
   font-weight: bold;
}
.Sobre-mim h4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: "Inria Sans";
    font-weight: bold;
}
.Sobre-mim span{
    color: var(--color-principal);
}
.Sobre-mim p{
    margin-top: 25px;
    font-family: "Inria Sans";
}
.Sobre-mim button{
    background-color: #FE002D;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
    transition-duration: .9s;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-secundaria);
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px auto 60px auto;
    padding: 20px 0;
}
.card-skill{
    width: 80px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 2rem;
}
.card-skill i{
        width: 40px;
        margin-bottom: 5px;
}
@media only screen and (max-width: 414px){

    .image img{
        margin-top: 500px;
        width: 350px;
        height: auto;
    }

    .Sobre-mim p{
        font-size: 12px;
        width: 500px;
        padding: 15px;
        text-align: center;
    }

    .Sobre-mim button{
        margin-top: 50px;
        text-align: center;
    }


}

/* Projects */
.C-projetos{
    width: 100%;
    background-color: #fff;
    padding: 60px;
}

.C-projetos h1{
    text-align: center;
    font-size: 65px;
    font-family: "Inria Sans";
    font-weight: bold;
}

.C-projetos p{
     text-align: center;
     font-family: "Inria Sans";
     color: #685B5B;
     font-weight: lighter;
     margin-top: 8px;
}

.img-projetos{
   display: flex;
   justify-content: center;
   gap: 70px;
   margin-top: 150px;
   flex-wrap: wrap;
}

.img-projetos img{
    width: 450px;
    height: auto;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
    border-radius: 10px;
}

.img-2 {
    display: flex;
    gap: 70px;
} 
.img-2 img{
    width: 450px;
    height: auto;
    margin-left: 30%;
    margin-top: 35px;
    
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;
    border-radius: 10px;
}


.C-projetos img:hover{
    border: solid 2px #180127;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 500px){

    
    .img-projetos{
        justify-content: center;
        flex-direction: column;
        display: flex;
        text-align: center;
    }
    .img-projetos img{
        width: 300px;
        height: auto;
       
    }
    .img-2{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .img-2 img{
        width: 300px;
        height: auto;
        text-align: center;
        margin-left: -10px;
    }
}



/* Contato */
#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contact h1{
    margin-top: 120px;
    margin-bottom: 10px;
    text-align: center;
   font-size: 55px;
   font-family: "Inter";
   font-weight: bold;
}
.container-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-principal);
}
.container-contact .text{
    color: var(--color-secundaria);
    padding-top: 50px;
    font-size: 20px;
    font-family: var(--font-principal);
    width: 50%;
}

.container-contact form{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
 .container-contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container-contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .container-contact .form-control {
    display: flex;
    gap: 1rem;
  }
  
  .container-contact input,
  .container-contact textarea {
    flex: 0.5;
    padding: 1rem;
    border: none;
  }
  
  .container-contact .btn {
    align-self: start;
    border: 2px solid var(--primary-text-color);
    font-size: 1.2rem;
    transition: 0.4s;
    border: solid 2px var(--color-secundaria);

  }
  
  .container-contact .btn:hover {
    background-color: var(--primary-text-color);
    color: var(--main-color);
  }



